<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Inventory</title>
</head>
<body>
<div class="container text-center">
    <h1>Inventory</h1>
    <table class="table table-striped table-bordered"  >
        <thead class="thead-dark">
        <tr>
            <th>Medicine Name</th>
            <th>Serial No</th>
            <th>MFG Date</th>
            <th>Exp Date</th>
            <th>Total Boxes</th>
            <th>Strip/Box</th>
            <th>Price/Box</th>
        </tr>
        </thead>
        <tbody>
        <div th:if="${#lists.isEmpty(getallmanfinvent)}">
        <tr>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
        </tr>
        </div>
        <div th:unless="${#lists.isEmpty(getallmanfinvent)}">
        <tr th:each="inventory: ${getallmanfinvent}">
            <td th:text="${inventory.productName}">Null</td>
            <td th:text="${inventory.serialNo}">Null</td>
            <td th:text="${inventory.manufactureDate}">Null</td>
            <td th:text="${inventory.expiryDate}">Null</td>
            <td th:text="${inventory.boxes}">Null</td>
            <td th:text="${inventory.stripPerBox}">Null</td>
            <td th:text="${inventory.pricePerBox}">Null</td>
        </tr>
        </div>
        </tbody>
    </table>
</div>
</body>
</html>