<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Welcome</h1>
<br>
<h3>Employee List</h3>
<br />
<table th:border="5" th:width="1000"  >
    <tr>
        <td>Employee First Name</td>
        <td>Employee Last Name</td>
        <td>Employee Gender</td>
    </tr>
    <tr th:each="myuser : ${getuser}">
        <td th:text="${myuser.getFirstName()}">First Name</td>
        <td th:text="${myuser.getLastName()}">Last Name</td>
        <td th:text="${myuser.getGender()}">Last Name</td>
    </tr>
</table>
</body>
</html>